*{margin:0;padding:0;}
body{background:#000;font-family:Open Sans;color:white;}
#main{border:1px solid #fdfdfd;font-size:20px;padding:0.2em;display:block;}

.tblRow {display:flex;flex-direction:row;}
.tblRow > div {flex:1 1 auto;}
.group {display: table-row-group; }

.temp{margin:0em 0 0.2em 0em;background-color:#9C26B0;text-align:center;}
.temp #m{float:left;margin:0.7em 0.5em;}
.temp #dg{width:100%;font-size:2em;}
.temp #tt{width:100%;padding:0 1em 0 0em;}
.temp #t{padding:0 2em 0 4em;}

.dt{margin-right:0.2em;padding: 0.5em;display:table-cell;background-color:#2A128D;}
.dt .tm{float:left;margin:0.2em;}
.dt .te{margin-top:0.3em;}
.dt .mo{}
.dt .day{font-size:2.5em;}
.dt .dow{}

.co2{display:flex;background-color:#FEC107;}
.co2 #m{margin:0.75em;width:1.5em;margin:1.4em 0.7em 0 0.5em}
.co2 #t{font-size:1.5em;margin:1.2em 0 0 0.5em;}
.co2 #co2 {width:0;}

.light{margin:0.2em 0 0.2em 0px;padding-bottom:1em;background-color:#019115;}
.light #m{float:left;margin:1.4em 0.7em 0 0.5em;}
.light #lt{font-size:1.5em;}
.light #t1{font-size:0.6em;margin:6px;line-height:1.2;}
.light #t1 .s1{float:left;width:38%;}
.light #t1 .s2{float:right;padding-right:1em;width:38%}
.light span{width:80px;border-bottom:solid 2px white;display: inline-block;}

.feed{background-color:#02A8F4;margin-right:0.2em;display:flex;}
.feed #m{margin:0.75em 0.4em 0 0;width:40%}
.feed #ft{}
.feed #feed {font-size:0.8em;margin:0.5em}

.ser{background-color:#808184;}
.ser #m{float:left;margin:17px;width:50px;}

.serlast{background-color:#E91D62;}

#head #cl {width:2em;float:left;padding:0.3em 0 0 0.5em;}
#head #tb {height:2em;float:left;}
#head #ok {float:right;padding:0.3em 0.3em 0.3em;}
#head ul {list-style-type:none;height:100%;margin:0;padding: 0;overflow: hidden;}
#head li {float:left;height:2em;}
#head ul li a {padding:0.7em 0.5em 0.5em 0.5em;color:white;vertical-align:middle;text-decoration:none;}

#fr {display: inline-table;}
#fr .fix {margin:0em 0.2em 0 0.2em;float:left;width:2.6em;text-align:center;height:1em;}
#se {display:table;table-layout: fixed;}
#se .fix {margin:1px 4px 0px 4px;float:left;width:2.6em;height:2.5em;text-align:center;vertical-align: middle;line-height:50px;}
#se .fixsp {line-height:2.6em;}
#tr {display:table;table-layout: fixed;}
#tr .fix {margin:0.1em 0.35em 0 0.1em;float:left;width:2.6em;text-align:center;}
.fixsp1 {margin:4px 4px 0px 4px;float:left;width:2.6em;text-align:center;}
.fixsp {float:left;width:1.3em;height:1em;}

#tta1 {margin:auto;width:85%;}
#fea1 {margin:auto;width: 95%;}

.clear {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:4px;}

.dat {background-color:#2A128D;}
.dat #head {background-color:#2A12CF;height:40px;}
.dat .ui-state-active, .ui-state-hover {background-color: #2A128D;}
.dat .dark {background-color:#2A12CF;}

.fe {background-color:#02A8F4;}
.fe #head {background-color:#0189C7;height:40px;}
.fe .ui-state-active, .ui-state-hover {background-color: #02A8F4;}
.fe .dark {background-color:#0189C7;}

.ti {background-color:#019115;}
.ti #head {background-color:#016F15;height:40px;}
.ti .ui-state-active, .ui-state-hover {background-color: #019115;}
.ti .dark {background-color:#016F15;}

.co {background-color:#FEC107;}
.co #head {background-color:#D7A508;height:40px;}
.co .ui-state-active, .ui-state-hover {background-color: #FEC107;}
.co .dark {background-color:#D7A508;}

.lig {background-color:#019115;}
.lig #head {background-color:#016F15;height:40px;}
.lig .ui-state-active, .ui-state-hover {background-color: #019115;}
.lig .dark {background-color:#016F15;}
.lig li {background-color:#019115;}

#saved {margin-left:30px;color: red;}

.lbl {font-size:14px;margin: 7px 0px 0px 17px;}
#ch0 .ui-slider-range{background:#fff;}
#ch0 .ui-slider-handle{border-color:#fff;}
#ch1 .ui-slider-range{background:#fdfdc9;}
#ch1 .ui-slider-handle{border-color:#fdfdc9;}
#ch2 .ui-slider-range{background:#fdf600;}
#ch2 .ui-slider-handle{border-color:#fdf600;}
#ch3 .ui-slider-range{background:red;}
#ch3 .ui-slider-handle{border-color:red;}
#ch4 .ui-slider-range{background:green;}
#ch4 .ui-slider-handle{border-color:green;}
#ch5 .ui-slider-range{background:blue;}
#ch5 .ui-slider-handle{border-color:blue;}

.lisl {}
.lisl .amount {float:right;margin:-33px 0px;font-size:12px;}
.libt {float:left;margin-top:0.1em;}
.lig .fix {border:none;line-height:2em;margin:1em 0 0 0.4em;float:left;width:2em;height:2em;background:#016f15;text-align:center;}
.on {font-weight:bold;border:1px solid white;}

.ui-widget {}
.ui-slider {background:#016f15;position: relative;text-align: left;}
.ui-slider-handle {display: none;}
.ui-slider-range {filter: inherit;}
.ui-slider-range-min {left: 0;}
.ui-slider-horizontal {height:0.9em;margin:0 0.6em;}
.ui-corner-all {}
.ui-widget-content {}
.ui-widget-header {}
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled {filter: inherit;}
.ui-slider-horizontal .ui-slider-handle {top:-.3em;margin-left:-.6em;}
.ui-slider-horizontal .ui-slider-range {top:0;height:100%;}
.ui-slider-horizontal .ui-slider-range-min {left:0;}
.ui-slider-horizontal .ui-slider-range-max {right: 0;}
/* Interaction states We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered*/
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {}

a[href], input[type='submit'], input[type='image'], select, button, .pointer {
       cursor: pointer;
}
